.title{
    display: flex;
    margin-bottom: 0;
    justify-content: center;
    /*background-image: url("HeaderPhoto.jpg");*/
    background-image: url("network1.jpg");
    color: white;
}
.home {
    display: flex;
}
.left{
    padding-top: 20px;
    background-color: whitesmoke;
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    text-align: center;
}

.right{
    background-color: rgb(26, 24, 24);
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    padding-right: 10px;
}

img {
    border-radius: 50%;
    width: 50%;
}
li {
    list-style: none;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:rgb(85, 82, 82);
  }

.paragraphs {
    text-align: left;
}

.end{
    background-image: url("network1.jpg");
    display: flex;
    margin-bottom: 0;
    justify-content: center;
    color: white;
    text-align: center;
}