.tile{
    padding-top: 20px;
    background-color: whitesmoke;
    width: 100%;
    float: left;
    display: flex;
    text-align: center;
    justify-content: space-between;
    height: 400px;
}

img{
    width: 300px;
    height: 300px;
}